@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@400;500;600;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #e5e5e5;
  background-image: url(img/Ellipse\ 1.png), url(img/Ellipse\ 2.png);
  background-repeat: no-repeat;

}
.navbar {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 8px;
  align-items: center;
  margin-left: 1.5rem;
  z-index:33;
}
.navbar .hour {
  font-weight: 900;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  z-index: 9999999;
}

.center__img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9rem;
  max-width: 100%;
  height: auto;
}
.text h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  margin-top: 4rem;
  color: rgba(0, 0, 0, 0.9);
  opacity: 0.9;
}
.text p {
  font-family: "Poppins", sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.5rem;
  text-align: center;
  width: 68%;
  margin: auto;
}
.btn__general {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.3rem;
  color: #000000;
  margin-top: 111px;
  margin-left: 19px;
  margin-right: 19px;
  width: 90%;
  text-align: center;
  height: 3.8rem;
  background-color: #62d2c3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

/* ======== REGISTERATION========== */
.reg__text h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  margin-top: 9rem;
  color: rgba(0, 0, 0, 0.9);
  opacity: 0.9;
}
.reg__text p {
  font-family: "Poppins", sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.5rem;
  text-align: center;
  margin: auto;
  padding-bottom: 40px;
  padding-top: 13px;
}

.form__info {
  display: flex;
  flex-wrap: wrap;
}
.form__info label {
  color: #000000;
  margin-left: 39px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.form__info input {
  width: 90%;
  align-items: center;
  padding: 13px 19px 14px;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  border: none;
}
::placeholder {
  font-family: "Poppins", sans-serif;
}

.btn__reg {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.3rem;
  color: #000000;
  margin-top: 50px;
  margin-left: 19px;
  margin-right: 19px;
  width: 90%;
  text-align: center;
  height: 3.8rem;
  background-color: #62d2c3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.sign {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.sign p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */

  color: rgba(0, 0, 0, 0.8);
}
.sign :nth-child(2) {
  color: #62d2c3;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  padding-left: 5px;
}

/* ============ login ========= */
.login__text {
  margin-top: 134px;
}
.login__img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  max-width: 100%;
  height: auto;
}
 .signin {
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */
    position: absolute;
    right: 31px;
  color: #62d2c3;

}

.login{
    position: relative;
}

/* ============ todo =========== */
.circle::after{
    content: "";
    width:188px;
    height:188px;
    position: absolute;
    
    background: rgba(230, 255, 252, 0.44);
    top:-66px;
    left:-66px;
    border-radius: 90%;
}
.circle::before{
    content: "";
    width:188px;
    height:188px;
    position: absolute;
    
    background: rgba(230, 255, 252, 0.44);

    top:-100px;
    left:0px;
    border-radius: 100%;

}
.todo__img{
    height: 292px;
    background-color:#62D2C3 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    position:absolute;
    width:100%;
    left: 0;
    height: 60%;
    z-index:-1;
    
}
.img{
    width:100px;
    height:100px;
}
.img img{
    width:100%;
    height:100%;
    border-radius: 50%;
}
.todo__img h3{
    margin: 15px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
/* identical to box height */

text-align: center;

color: #FFFFFF;

opacity: 0.9;
}
.hour__todo{
    position:absolute;
}
.todo__clock{
    margin-top: 80%;
    margin-left:36%;
}